*
{
	margin: 0px;
	padding: 0px;
}
#page
{
	margin:0 auto;
	height: 2820px;
	width: 1400px;

}
#header
{
	width:1400px;
	height:150px;
	background-color: #f2f2f0;
	margin-top: 10px;
	
}
#logo
{
	float: left;
	width: 200px;
	height: 125px;
	margin-left: 30px;
}
#logo1
{
	padding-top: 10px;
}
#nav
{
	height: 125px;
	width: 1100px;
	margin-right: 10px;
	float: left;
	text-align: left;
	padding-left: 40px;

}

#top
{
	padding-left: 150px;
	padding-top: 20px;
}
#top1
{
	float: left;
	padding-right: 40px;
}
select
{
	height: 30px;
	width: 150px;
}

#top2 ul li
{
	list-style:none;
	margin: auto;
	float: left;
	padding-right: 10px;
	border-left: 0.5px solid grey;
	padding-left: 10px;
	font-family: "roboto";
	font-weight: 300;
	font-size: 14px;
	padding-top: 10px;
}

#top2 ul li:hover
{
	color: #f68016;
}
#bottom
{
	padding-top: 30px;
	width: 1000px;
	height: 30px;
	float: left;
}
#bottom ul li
{
	list-style:none;
	margin: auto;
	float: left;
	padding-right: 20px;
	font-family: "roboto";
	font-weight: 600;
	font-size: 16px;
}

#bottom ul li:hover
{
	color: #f68016;
}

#sec
{
	width:1400px;
	height: 1800px;
	background-image: url(/webpages/tels/contact);
}
#banner
{
	position: absolute;
	background-size:cover;
	height: 700px;
	width: 1400px;
	z-index: 1;
}
#maincontent
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width:600px;
	padding-left: 20px;
	z-index: 100;
	top: -650px;
}
h1
{
	font-family: "roboto";
	font-weight: 500;
	color: white;
	text-align: center;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 30px;
}
h3
{
	font-family: "roboto";
	font-weight: 400;
	color: white;
	text-align: center;
	font-size: 24px;
	padding-bottom: 30px;
}
#mainform
{
	font-size: 14px;
	padding-top: 60px;
	font-family: "roboto";
	font-weight: 300;
	color: #333;
	background-color: #f2f2f0;
	position: relative;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width:500px;
	padding-left: 60px; 

}

#star
{
	color: red;
}
#box
{
	width: 425px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 20px;

}
#box1
{
	width: 200px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 20px;
	float: left;
}

#button
{
	width: 50px;
	height: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#list
{
	width: 430px;
	height: 50px;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 20px;
}
#txtarea
{
	margin-top: 10px;
	width: 425px;
}

#submit
{
	width: 250px;
	height: 60px;
	background-color: #00a5df;
	margin-top: 20px;
	border-radius: 5px;
	color: white;
	margin-left: 80px;
	margin-bottom: 50px;
	border: none;
	font-family: "roboto";
	font-size: 12px;
}
#termsofuse,#privacy
{
	color: #00a5df;
	font-weight: 400;
}
#termsofuse:hover
{
	text-decoration: underline;
}
#privacy:hover
{
	text-decoration: underline;
}
#submit:hover
{
	background-color: #f68016;
	border: none;
}
#help
{
	text-align: center;
	font-family: "roboto";
	width: 1100px;
	margin: auto;
	padding-top: 60px;
	height: 475px;
	position: relative;
	

}
#help h2
{
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 30px;
}
#h2content
{
	padding: 10px;
	font-size: 22px;
	font-weight: 400;
	color: #333;
	line-height: 30px;
}
#break
{
	margin-top: 20px;
}
#brklft
{
	float: left;
	width: 450px;
	font-size: 22px;
	font-weight: 400;
	color: #333;
	line-height: 30px;
	text-align: left;
}
#blue
{
	color: #00a5df;
}
#blue:hover
{
	text-decoration: underline;
}

#brkrht
{
	float: right;
	width: 550px;
	font-size: 22px;
	font-weight: 400;
	color: #333;
	line-height: 30px;
	text-align: justify;
}
#rht1
{
	margin-bottom: 10px;
}
#rht2
{
	margin-bottom: 10px;
	background: url(/webpages/tels/Level1.gif) no-repeat transparent;
	margin-top: : 10px;
	text-align: right;
}
#rht3
{
	background: url(/webpages/tels/Level2.gif) no-repeat transparent;
	margin-bottom: 20px;
	text-align: right;
	margin-right: 110px;
}
#rht4
{
margin-top: 10px;
}	

footer
{
background-color: #f2f2f0;
height: 330px;
width: 1400px;
font-family: "roboto";
position: relative;
float: left;

}
footer ul li
{
	list-style: none;
	margin-bottom: 10px;

}
footer ul
{
	margin-bottom: 20px;
}

#foot1
{
	height: 250px;
}
#span1,#span2,#span3,#span4,#span5
{
	float: left;
	height: 200px;
	margin-top: 50px;
	margin-left: 60px;
}
#ul1
{
	color: #000;
	font-weight: 600;
	
}

#ul2 li:hover
{
	text-decoration: underline;
}
#ul1:hover
{
	color: #f68016;
	text-decoration: none;
}

hr
{
	border:0.1px solid #eee;
	margin: 10px 40px;
}
#foot2
{
	height: 40px;
	margin-left: 40px;
	margin-right: 40px;

}
#footleft
{
	float: left;
	width: 700px;
	height: 40px;
	background-color: #f2f2f0;
	padding-top: 20px;
	font-family: "roboto";
	font-size:12px;
	font-weight: 300;

}
#comp
{
	color: #00a5df;
	font-weight: 400;
}
#comp:hover
{
	text-decoration: underline;
}

#footright
{
	float: right;
	width: 600px;
	height: 40px;
	text-align: right;
	background-color: #f2f2f0;
	padding-top: 20px;
	font-family: "roboto";
	font-size:14px;
	font-weight: 400;
}
#pp,#acc,#trms
{
	padding-left: 20px;
	padding-right: 10px;
}
#pp:hover
{
	text-decoration: underline;
}
#acc:hover
{
	text-decoration: underline;

}
#trms:hover
{
	text-decoration: underline;
}
