
body
{
	
	display:inline-block;

	width: 100%;
	height: 100%;
	margin: 0 auto;

}

h1
{
	color: red;
	background-color: skyblue;
text-align: center;
font-size: 50px;
}
div
{ 
	
	color:skyblue;
	background-color: grey;

}
p:first-letter{
	font-size: 50px;
	color: blue;
}
p:first-line{
	font-weight: bold;
}
p{
	font-size: 30px;
}
#back
{
	font-size: 30px;
}